<!DOCTYPE html>
<html>
<head>
  <title>NCAA Bracket</title>
  <link rel=StyleSheet HREF="bracket.css" TYPE="text/css" MEDIA=screen>
</head>
<body class="bracket standings light-blue" id="">
<%= yield %>
</body>
</html>
