<!DOCTYPE html>
<html>
<head>
  <title>NCAA Bracket</title>
  <link rel=StyleSheet HREF="bracket.css" TYPE="text/css" MEDIA=screen>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body class="bracket standings light-blue" id="">
<%= yield %>
</body>
</html>
